@import "tailwindcss";

@import "tw-animate-css";

/* Design System */
@import "./lib/styles/design-system/base.css";

/* Base Layer */
@import "./lib/styles/layer/base.css";
/* Theme */
@import "./lib/styles/layer/theme.css";

@custom-variant dark (&:is(.dark *));
